<meta
  name="Wer bin ich?"
  description="Hey, ich bin Fotograf und Webdeveloper und zeige hier einige meiner Fotografien und in Zukunft auch ein paar Web-Development-Projekte. Kontaktiert mich gerne"
/>
<div class="page-wrapper">
  <div class="card-container">
    <div class="card" (click)="toggleCard()" #card>
      <div class="portrait-container" #portraitContainer>
        <img
          alt="portrait-bild"
          src="assets/pictures/portrait_noah.jpg"
          class="portrait"
          #portrait
        />
      </div>
      <div class="title-wrapper" #titleWrapper>
        <p class="title">Über Mich</p>
      </div>
    </div>
    <div [@slideInOutAnimation] class="expanded-card" *ngIf="expandCard">
      <p class="card-text">
        Hi, ich bin Chris, 19 Jahre alt und <span class="link">Fotograf</span> &
        <span class="link">Webdeveloper</span>. Meine Anfänge in der Fotografie
        habe ich vor einigen Jahren mit einer Nikon Spiegelreflex gemacht. Lest
        hier mehr über mein aktuelles <span class="link">Equipment</span>. Hier
        könnt ihr mich <span class="link">kontaktieren.</span>
      </p>
    </div>
  </div>
</div>
