<div #adminCard class="admin-card" *ngIf="!adminService.isAdmin">
  <div class="login-box">
    <h2>Admin Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <div class="user-box">
        <input
          #username
          type="text"
          name=""
          required=""
          formControlName="username"
        />
        <label>Username</label>
      </div>
      <div class="user-box">
        <input
          #password
          type="password"
          name=""
          required=""
          formControlName="password"
        />
        <label>Password</label>
      </div>
      <div class="button-wrapper">
        <button type="submit" [disabled]="loginForm.invalid">
          <span></span>
          <span></span>
          <span></span>
          <span></span>Login
        </button>
      </div>
      <div class="error-wrapper" *ngIf="loginError && loginForm.valid">
        <p>{{ loginErrorMessage }}</p>
      </div>
      <div class="error-wrapper" *ngIf="loginForm.invalid">
        <p *ngIf="loginForm.controls.password.errors?.['minlength']">
          Das Passwort muss mindestens
          {{loginForm.controls.password.errors?.['minlength'].requiredLength}}
          Zeichen lang sein.
        </p>
        <p *ngIf="loginForm.controls.username.errors?.['minlength']">
          Das Passwort muss mindestens
          {{loginForm.controls.username.errors?.['minlength'].requiredLength}}
          Zeichen lang sein.
        </p>
        <p
          *ngIf="loginForm.controls.password.errors?.['required'] && !(loginForm.controls.username.errors?.['required'] && loginForm.controls.password.errors?.['required'])"
        >
          Bitte ein Passwort eingeben.
        </p>
        <p
          *ngIf="loginForm.controls.username.errors?.['required'] && !(loginForm.controls.username.errors?.['required'] && loginForm.controls.password.errors?.['required'])"
        >
          Bitte einen Nutzernamen eingeben.
        </p>
        <p
          *ngIf="loginForm.controls.username.errors?.['required'] && loginForm.controls.password.errors?.['required']"
        >
          Beide Felder müssen ausgefüllt sein.
        </p>
      </div>
    </form>
  </div>
</div>
<div class="wrapper">
  <div
    class="admin-edit-wrapper"
    *ngIf="adminService.isAdmin"
    [@fadeInOutAnimation]
  >
    <ul #list>
      <li *ngFor="let item of infos; index as i; last as last">
        <div class="header">
          <h3>
            {{ paths[i] }}
          </h3>
          <fa-icon
            [icon]="faTrashCan"
            (click)="startDeleteMode(i)"
            *ngIf="!deleteMode || (deleteMode && deleteIndex !== i)"
          ></fa-icon>
          <fa-icon
            *ngIf="deleteMode && deleteIndex === i"
            [icon]="faXmark"
            (click)="startDeleteMode(i)"
          ></fa-icon>
        </div>
        <div
          class="info-wrapper"
          [@fadeInOutAnimation]
          *ngFor="let obj of item; index as j; last as isLast"
        >
          <div
            class="delete-mode"
            *ngIf="deleteMode && deleteIndex === i"
            [@fadeInOutAnimation]
          >
            <fa-icon [icon]="faTrashCan" (click)="delete(i, j)"></fa-icon>
          </div>

          <div
            class="info"
            *ngFor="
              let key of getObjectKeys(obj);
              last as isLastKey;
              index as k
            "
            [ngStyle]="{ 'border-bottom': isLastKey ? 'none' : '' }"
          >
            <p class="key" contenteditable="false">{{ key }}:</p>
            <p
              class="content"
              #pElement
              contenteditable="false"
              [textContent]="obj[key]"
            ></p>
            <fa-icon
              *ngIf="!(key === 'id') && !editMode"
              [icon]="faEdit"
              (click)="onEditIconClick(pElement, i, j, k)"
            ></fa-icon>
            <fa-icon
              *ngIf="
                !(key === 'id') &&
                editMode &&
                i === entityIndex &&
                j === columnIndex &&
                k === propertyIndex
              "
              [icon]="faCheck"
              (click)="onEditConfirm(pElement, i, j, k)"
            ></fa-icon
            ><fa-icon
              *ngIf="
                !(key === 'id') &&
                editMode &&
                i === entityIndex &&
                j === columnIndex &&
                k === propertyIndex
              "
              (click)="onEditCancel(pElement, i, j, k)"
              [icon]="faXmark"
            ></fa-icon>
          </div>
        </div>
        <div class="plus">
          <fa-icon
            [icon]="faPlus"
            (click)="addNewEntity(i)"
            *ngIf="!addMode || (addMode && i !== addIndex)"
            class="add"
          ></fa-icon>
          <fa-icon
            class="confirm"
            (click)="onAddConfirm()"
            *ngIf="addMode && i === addIndex"
            [icon]="faCheck"
            class="confirm"
          >
            <p>Add {{ pathEntities[i] }}</p> </fa-icon
          ><fa-icon
            *ngIf="addMode && i === addIndex"
            [icon]="faXmark"
            (click)="onAddCancel()"
            class="cancel"
          ></fa-icon>
        </div>
        <div
          class="add-info-wrapper"
          #addInfoWrapper
          [@slideInOutAnimation]
          *ngIf="addMode && i === addIndex"
        >
          <div
            *ngFor="
              let key of getObjectKeys(item[0]);
              last as isLastKey;
              index as k
            "
            [ngStyle]="{
              'border-bottom': isLastKey ? 'none' : '',
              display: key === 'id' ? 'none' : ''
            }"
          >
            <div *ngIf="key !== 'id'">
              <p class="key" contenteditable="false">{{ key }}:</p>
              <p class="content" #pElement contenteditable="true"></p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
