.wrapper {
  width: 100dvw;
  height: 100dvh;
  background-image: url(https://images.genius.com/5f066200388c0f882581c3c167f41927.1000x1000x1.png);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  .admin-edit-wrapper {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .path,
    ul {
      margin-top: 30px;
      width: 100%;
      word-break: break-all;
      overflow: auto;

      li {
        border-radius: 20px;
        margin-bottom: 18px;
        padding-right: 5px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        backdrop-filter: blur(50px);
        div {
          width: 95%;
        }
        div.header {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding-bottom: 10px;
          h3 {
            margin-bottom: 8px;
            margin-top: 16px;
            text-align: center;
            font-size: 1.5rem;
            text-transform: uppercase;
            letter-spacing: 5px;
          }

          fa-icon {
            transition: all 0.3s ease-in-out;
            font-size: 1.5rem;
            &:hover {
              cursor: pointer;
              color: red;
              animation: wobble 0.8s ease infinite;
            }
          }
        }
        .info-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          border-bottom: 2px solid black;
          position: relative;

          div {
            width: 100%;
          }
          div.delete-mode {
            position: absolute;
            left: -10px;
            right: -10px;
            width: calc(100% + 20px);

            height: 100%;
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;

            &::before {
              border-radius: 10px;

              content: "";
              position: absolute;
              height: 100%;
              width: 100%;
              background-color: red;
              opacity: 0.8;
            }

            fa-icon {
              position: relative;
              z-index: 3;
              font-size: 1.5rem;
              transition: all 0.3s ease-in-out;

              &:hover {
                cursor: pointer;
                color: darkred;
                animation: wobble 0.8s ease infinite;
              }
            }
          }

          div.info:hover {
            background-color: rgba($color: #34c82c, $alpha: 0.7);
          }
          div.info {
            transition: all 0.2s ease-in-out;

            border-bottom: 1px dashed black;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-top: 5px;
            padding-bottom: 5px;
            .content {
              width: 60%;
              padding-bottom: 3px;
              padding-top: 3px;
            }
            .key {
              padding-bottom: 3px;
              padding-top: 3px;
              padding-right: 5px;
              width: 40%;
            }
            fa-icon {
              transition: all 0.3s ease-in-out;
              padding-left: 10px;
              padding-right: 5px;
            }

            fa-icon:hover {
              cursor: pointer;
              color: black;
            }
          }
        }
        .add-info-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          transition: all 0.2s ease-in-out;

          // margin-bottom: 5px;
          // padding-bottom: 5px;

          div:hover {
            background-color: rgba($color: #34c82c, $alpha: 0.7);
          }
          div {
            width: 100%;
            border-bottom: 2px dashed black;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            div {
              width: 100%;
              border-bottom: none;
              padding-top: 5px;
              padding-bottom: 5px;
              .content {
                width: 100%;
              }
              .key {
                width: 40%;
              }
              fa-icon {
                transition: all 0.3s ease-in-out;
                padding-left: 10px;
                padding-right: 5px;
              }

              fa-icon:hover {
                cursor: pointer;
                color: purple;
              }
            }
          }
        }
        .plus {
          display: flex;
          gap: 20px;
          justify-content: center;
          align-items: center;
          margin-top: 10px;

          .confirm {
            padding-left: 10px;
          }

          fa-icon.add {
            font-size: 2rem;
            transition: all 0.2s ease-in-out;
            cursor: pointer;

            &:hover {
              color: green;
              animation: pulse 1s infinite;
            }
          }
          fa-icon.confirm {
            font-size: 2rem;
            transition: all 0.2s ease-in-out;
            cursor: pointer;

            &:hover {
              color: green;
              animation: pulse 1s infinite;
            }
          }
          fa-icon.cancel {
            font-size: 2rem;
            transition: all 0.2s ease-in-out;
            cursor: pointer;

            &:hover {
              color: red;
              animation: pulse 1s infinite;
            }
          }

          @keyframes pulse {
            0% {
              transform: scale(1);
            }
            50% {
              transform: scale(1.1);
            }
            100% {
              transform: scale(1);
            }
          }
        }
      }
    }
  }
}

.admin-card {
  width: 90dvw;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  position: absolute;
  transform: translate(-50%, 25dvh);
  left: 50%;

  .login-box {
    width: 100%;
    padding: 40px;
    background: transparent;

    h2 {
      margin: 0 0 30px;
      padding: 0;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
    }
    .user-box {
      position: relative;

      input {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid #fff;
        outline: none;
        background: transparent;

        &:focus ~ label,
        &:valid ~ label {
          top: -20px;
          left: 0;
          color: #fff;
          font-size: 12px;
        }
      }

      label {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        pointer-events: none;
        transition: 0.5s;
      }
    }
    form {
      div.button-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        button {
          text-transform: uppercase;
          backdrop-filter: blur(5px);
          border-radius: 5px;
          position: relative;
          padding: 10px 20px;
          color: #fff;
          font-size: 16px;
          text-transform: uppercase;
          overflow: hidden;
          transition: 0.5s;
          letter-spacing: 4px;
          background-color: transparent;
          border: none;

          &:disabled {
            cursor: not-allowed;
            background-color: grey;
            color: black;
            border-radius: 5px;
            box-shadow: none;

            span {
              display: none;
            }

            &:hover {
              background-color: rgb(102, 101, 101);
              color: black;
              border-radius: 5px;
              box-shadow: 0 0 5px rgb(102, 101, 101), 0 0 8px rgb(102, 101, 101),
                0 0 15px rgb(102, 101, 101), 0 0 20px rgb(102, 101, 101);
            }
          }

          &:hover {
            background-color: purple;
            color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 5px purple, 0 0 8px purple, 0 0 15px purple,
              0 0 20px purple;
          }

          span {
            position: absolute;
            display: block;

            &:nth-child(1) {
              top: 0;
              left: -100%;
              width: 100%;
              height: 2px;
              background: linear-gradient(90deg, transparent, purple);
              animation: btn-anim1 2s linear infinite;
              animation-delay: 0s;
            }
            @keyframes btn-anim1 {
              0% {
                left: -100%;
              }
              50%,
              100% {
                left: 100%;
              }
            }
            &:nth-child(2) {
              top: -100%;
              right: 0;
              width: 2px;
              height: 100%;
              background: linear-gradient(180deg, transparent, purple);
              animation: btn-anim2 2s linear infinite;
              animation-delay: 0.5s;
            }
            @keyframes btn-anim2 {
              0% {
                top: -100%;
              }
              50%,
              100% {
                top: 100%;
              }
            }
            &:nth-child(3) {
              bottom: 0;
              right: -100%;
              width: 100%;
              height: 2px;
              background: linear-gradient(270deg, transparent, purple);
              animation: btn-anim3 2s linear infinite;
              animation-delay: 1s;
            }
            @keyframes btn-anim3 {
              0% {
                right: -100%;
              }
              50%,
              100% {
                right: 100%;
              }
            }
            &:nth-child(4) {
              bottom: -100%;
              left: 0;
              width: 2px;
              height: 100%;
              background: linear-gradient(360deg, transparent, purple);
              animation: btn-anim4 2s linear infinite;
              animation-delay: 1.5s;
            }
            @keyframes btn-anim4 {
              0% {
                bottom: -100%;
              }
              50%,
              100% {
                bottom: 100%;
              }
            }
          }
        }
      }
      div.error-wrapper {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        p {
          text-align: center;
          color: red;
          font-size: 0.9rem;
        }
      }
    }
  }
}
@keyframes wobble {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(30deg);
  }
  45% {
    transform: rotate(-30deg);
  }
  60% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media screen and (min-width: 1200px) {
  .admin-card {
    width: 50dvw;
  }
}

@media screen and (min-width: 700px) and (max-width: 1200px) {
  .admin-card {
    width: 70dvw;
  }
}

@media screen and (min-width: 600px) {
  .wrapper {
    .admin-edit-wrapper {
      ul {
        li {
          .info-wrapper {
            .info {
              .content {
                width: 85% !important;
              }
              .key {
                width: 15% !important;
              }
            }
          }
          .add-info-wrapper {
            div {
              div {
                .content {
                  width: 85% !important;
                }
                .key {
                  width: 15% !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
