<div class="swiper">
    <!--  Wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide" *ngFor="let slide of slides">
        <div
          class="swiper-slide-content"
          [ngStyle]="{ 'background-image': 'url(' + slide.image + ')' }"
        >


        <div
            class="swiper-slide-main-content"
            id="swiper-slide-main-content"
          >
            <p class="text">{{ slide.text }}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Pagination -->
    <div class="swiper-pagination"></div>
  </div>
