.swiper {
  .swiper-wrapper {
    .swiper-slide {
      display: flex;
      justify-content: center;
      .swiper-slide-content {
        border-radius: 10px;
        box-shadow: var(--primary-box-shadow);
        height: 60dvh;
        width: 80vw;
        object-fit: cover;
      }
    }
  }
}
