.socials-container {
  text-align: center;
  display: flex;
  flex-direction: row;

  .icon {
    width: 30px;
    margin: 5px;
  }

  .copy-icon {
    position: relative;
    font-size: 30px;
    margin: 5px;
    color: var(--primary);
    text-decoration: bol;
  }
  .mail-icon {
  }
}
